# logs
logs
*.log
npm-debug.log*

# dependency directory
node_modules
/.pnp
.pnp.js

# optional npm cache directory
.npm

# optional REPL history
.DS_Store
.idea
.vscode

# testing
/coverage

# production
/build

# misc
.env
.eslintcache
